# Pandas

In [9]:
import pandas as pd
import numpy as np

Series are Numpy arrays where Dataframes are 2D Numpy arrays. Numpy and Pandas are very compatible libraries. The main difference between Series and Numpy arrays is that Series allign with labels.

In [10]:
ages = [21, 22, 21, 23, 21]
names = ["Lucas", "Rufus", "Jason", "Martin", "Aryan"]

series_1 = pd.Series(data=ages, index=names)
print(series_1)

Lucas     21
Rufus     22
Jason     21
Martin    23
Aryan     21
dtype: int64

In [26]:
bench_scores = [120, 105, 110, 80, 4]
df = pd.DataFrame([ages, bench_scores], columns=names)
df

   Lucas  Rufus  Jason  Martin  Aryan
0     21     22     21      23     21
1    120    105    110      80      4

In [35]:
(df.loc[1] > 100).all()

False